#NET "an0" LOC = "F12";
NET segment7(6)	LOC = "L14";
NET segment7(5) 	LOC = "H12";
NET segment7(4)	LOC = "N14";
NET segment7(3)	LOC = "N11";
NET segment7(2)	LOC = "P12";
NET segment7(1)	LOC = "L13";
NET segment7(0)	LOC = "M12";

#NET "sw7" LOC = "N3";
#NET "sw6" LOC = "E2";
#NET "sw5" LOC = "F3";
#NET "sw4" LOC = "G3";
NET sw(3) LOC = "B4";
NET sw(2) LOC = "K3";
NET sw(1) LOC = "L3";
NET sw(0) LOC = "P11";
